#resultsTable {
    left: 0px;
    top: 100px
}

.container-fluid {

    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

}